## Part 1: Data Cleaning

I have gotten response from 4 resources: Craigslist, Nextdoor, Facebook, and sublet.com. The communication format for each resource are:
* Craigslist: email and text message
    * Format: mbox for email, excel for text messages
* Nextdoor: Nextdoor inbox
    * Format: excel
* Facebook: Facebook messages
    * Format: JSON file for each conversation
* sublet.com: sublet.com inbox
    * Format: excel

### Section 2: messages from Facebook

In [138]:
import pandas as pd
import re
import json
import numpy

In [139]:
import os
cwd = os.getcwd()
cwd

'E:\\Data_Science_Coursework\\Rental Data Analysis'

In [140]:
# Setting up the read JSON files in one folder all together. 
path_to_json = 'E:\\Data_Science_Coursework\\Rental Data Analysis\\facebook_messages\\'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)

['message_1 (10).json', 'message_1 (11).json', 'message_1 (12).json', 'message_1 (13).json', 'message_1 (14).json', 'message_1 (15).json', 'message_1 (16).json', 'message_1 (17).json', 'message_1 (18).json', 'message_1 (19).json', 'message_1 (2).json', 'message_1 (20).json', 'message_1 (21).json', 'message_1 (22).json', 'message_1 (23).json', 'message_1 (24).json', 'message_1 (25).json', 'message_1 (26).json', 'message_1 (27).json', 'message_1 (28).json', 'message_1 (29).json', 'message_1 (3).json', 'message_1 (30).json', 'message_1 (31).json', 'message_1 (32).json', 'message_1 (33).json', 'message_1 (4).json', 'message_1 (5).json', 'message_1 (6).json', 'message_1 (7).json', 'message_1 (8).json', 'message_1 (9).json', 'message_1.json']

In [141]:
# Take a look at one of the files: message_1 (24).json and understand the data structure.
with open('E:\\Data_Science_Coursework\\Rental Data Analysis\\facebook_messages\\message_1 (24).json') as json_data:
    data = json.load(json_data)

In [142]:
data

{'participants': [{'name': 'Cecile Wang'}, {'name': 'Kameia Brown'}],
 'messages': [{'sender_name': 'Cecile Wang',
   'timestamp_ms': 1589466041336,
   'content': 'Hi the usual rent from the leasing office is $1572/month. Since I am looking for someone to replace me, I am setting $300 off each month till the end of October.',
   'type': 'Generic'},
  {'sender_name': 'Kameia Brown',
   'timestamp_ms': 1589465876525,
   'content': 'It will be a long term move. I saw the lease is up in October. Do you know the renewal rate? I would really like to stay at the $1200 price point',
   'type': 'Generic'},
  {'sender_name': 'Cecile Wang',
   'timestamp_ms': 1589465702641,
   'content': 'Hi Kameia, yes it is still available. Can I know how long you are planning on renting the place?',
   'type': 'Generic'},
  {'sender_name': 'Kameia Brown',
   'timestamp_ms': 1589459715646,
   'content': 'Is this available?',
   'type': 'Generic'},
  {'sender_name': 'Kameia Brown',
   'timestamp_ms': 1589459713583,
   'content': 'Kameia changed the group photo.',
   'type': 'Generic'},
  {'sender_name': 'Kameia Brown',
   'timestamp_ms': 1589459713036,
   'content': 'Kameia named the group Kameia Â· 2 Beds 2 Baths - Apartment.',
   'type': 'Generic'}],
 'title': 'Kameia Â· 2 Beds 2 Baths - Apartment',
 'is_still_participant': True,
 'thread_type': 'RegularGroup',
 'thread_path': 'inbox/Kameia2Beds2BathsApartment_1N1krqNXvQ'}

In [143]:
# Play with the data to see the best way to access information I want.
data['messages'][1]['timestamp_ms']

1589465876525

In [144]:
# See how many elements are there in 'messages'
len(data['messages'])

6

In [145]:
#Create a dataframe called facebook to store the data
facebook = pd.DataFrame(columns = ['Name','Timestamp','Content','Visit'])

In [148]:
# put the data I want into lists.
sender =[]
timestamp = []
content = []
for js in json_files:
    
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        content2 = ''
        timestamp2 = []
        timestamp2.clear()
        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        for i in range(len(json_text['messages'])):
            if 'Cecile' not in json_text['messages'][i]['sender_name'] and 'content' in json_text['messages'][i]:
                sender2 = json_text['messages'][i]['sender_name']
                timestamp2.append(json_text['messages'][i]['timestamp_ms'])
                content2 = content2 + ' ' + str(json_text['messages'][i]["content"])
        
        if len(timestamp2) != 0:   
            sender.append(sender2)
            min_timestamp = numpy.min(timestamp2)
            timestamp.append(min_timestamp)
        
            content.append(content2)

28

In [149]:
# making sure all columns are the same length. 
len(sender)
len(content)
len(timestamp)

28

In [150]:
# Input the list of data into dataframe
facebook['Name'] = sender
facebook['Timestamp'] = timestamp
facebook['Content'] = content
facebook['Visit'] = False

In [151]:
#take a look
facebook

,Name,Timestamp,Content,Visit
0,Artavia Price,1589284962802,I understand. Thanks anyway July would be the...,False
1,Ashley Johnson,1589813598357,Yes. Please contact 832-985-4791 Is this stil...,False
2,Ashley Ann Caldwell,1589141727126,7153935574 is me just in case Sounds good Tom...,False
3,Ashley Renee,1589752037766,Thank you That's crazy but i get it But if yo...,False
4,Eden Ciarra,1589728061969,Only a year. Iâm moving from out of state f...,False
5,Ericah Cardenas,1589350290078,A year Ericah is waiting for your response. I...,False
6,Indiana Edwards,1589635616343,Is this still available? Indiana changed the ...,False
7,Shalmer Perro,1589580325006,Ok my number is +18326829569 Okay tomorrow wo...,False
8,Isabel Vargas,1589504780453,All bills included? Isabel changed the group ...,False
9,Quenique Jasmine,1589230242294,Jasmine is waiting for your response. Hi are ...,False
10,Jondel Onelane,1589022401780,Iâm moving from Louisiana so Iâm looking ...,False
11,Juan Saenz,1589847129126,Iâm sorry but I thought it was 1272 and I w...,False
12,Kameia Brown,1589459713036,It will be a long term move. I saw the lease ...,False
13,Katelyn Dickerson,1589820919021,Np if you canât find anyone let me know You...,False
14,Kiarae Janae Tillis,1589700229349,I need 1 bedroom Whatâs there number Hello ...,False
15,Kimberley Thomas,1589286346236,Soon*** And how so is it available Iâm defi...,False
16,Lisbeth Nava,1589825523932,Is this still available? Lisbeth changed the ...,False
17,Stiniger Garcia,1589450338046,"I speak spanish Hola, Â¿sigue disponible? Sti...",False
18,Nikka Brown,1588647354837,Oh so a sublet unit? Is this price the upgrad...,False
19,Nyeasha Kelly,1589170237729,Ok thanks I would like to do an 1yr lease of ...,False
20,Pavlo Zolotavin,1579464463054,Ok. Thank you for letting me know Thanks He c...,False
21,Peng Zane,1589774076750,Ah I see. Sorry that is probably beyond my bu...,False
22,Tahiyyah Muhammad,1589246812183,Ok Iâm 9 mins away Perfect! See you soon! H...,False
23,Taila Hamilton,1587316627054,Hey Cecil! Iâm still working. I havenât h...,False
24,Trennie Henry,1589441725091,Ok 1 year do they have specials how much depo...,False
25,Yolanda J. Miles,1589223045313,Ok 4:00 is ok I'm 5 minutes away I've leased ...,False
26,Amber McCray,1578616553766,Is this still available? Amber changed the gr...,False
27,Rigo Vasquez,1581629644286,Hi Cecile. Yes my email is rigodlc@gmail.com ...,False

In [152]:
# Drop rows that are not from interested renters.
facebook.drop([20,23,27], axis=0, inplace = True)

In [153]:
# Change 'Visit' to True to those who visited.
facebook.loc[2,'Visit'] = True
facebook.loc[7,'Visit'] = True
facebook.loc[22,'Visit'] = True
facebook.loc[25,'Visit'] = True

In [154]:
facebook.reset_index(drop = True, inplace = True)

facebook['Source']='Facebook'

facebook.head()

Time to take apart the timestamp!

In [157]:
import datetime
from datetime import datetime
from dateutil.parser import parse

In [158]:
# Try to output date, time and weekday from a timestamp.
dt = datetime.fromtimestamp(1589728061969/1000).isoformat()
dt2 = parse(dt)
print(dt2.date())
print(dt2.weekday())

2020-05-17
6

In [159]:
# Do the conversion to all timestamps in the dataframe and store data in corres[onding columns]
for i in range(24):
    dt = datetime.fromtimestamp(facebook.loc[i,'Timestamp']/1000)
   # dt = parse(dt_string)
    facebook.loc[i,'Date'] = dt.date()
    facebook.loc[i,'Time'] = dt.time()
    facebook.loc[i,'Weekday'] = dt.weekday()

In [160]:
#Drop the column 'timestamp'
facebook.drop('Timestamp', axis=1, inplace = True)

Now we look at the post update dates:

In [74]:
# this JSON file contains the time, and cotent of my facebook posts.
facebook_post = pd.read_json('E:\\Data_Science_Coursework\\Rental Data Analysis\\facebook_posts\\your_posts_1.json')

In [ ]:
facebook_post

In [76]:
facebook_post.drop(2, axis=0, inplace = True)

facebook_post.reset_index(drop = True, inplace=True)

facebook_post.head()

In [79]:
type(facebook_post.loc[2,'attachments'])

list

In [85]:
# take a look at one of the timestamp in one post
facebook_post.loc[3,'attachments'][0]['data'][0]['for_sale_item']['created_timestamp']

1589032464

In [110]:
# create a dataframe facebook_post2 to store all advertisement update info.
facebook_post2= pd.DataFrame(columns=['Timestamp', 'Date','Time','Type'])

In [114]:
# Put all time info into the dataframe
n=0
for i in range(5):
    
    if 'for_sale_item' in str(facebook_post.loc[i,'attachments']):
        facebook_post2.loc[n, 'Timestamp']= facebook_post.loc[i,'attachments'][0]['data'][0]['for_sale_item']['created_timestamp']
        facebook_post2.loc[n, 'Type'] = 'Creation'
        n=n+1
        if facebook_post.loc[i,'attachments'][0]['data'][0]['for_sale_item']['updated_timestamp'] != facebook_post.loc[i,'attachments'][0]['data'][0]['for_sale_item']['created_timestamp']:
            facebook_post2.loc[n, 'Timestamp']= facebook_post.loc[i,'attachments'][0]['data'][0]['for_sale_item']['updated_timestamp']
            facebook_post2.loc[n, 'Type'] = 'Update'
            n=n+1
    else:
        facebook_post2.loc[n, 'Timestamp']= facebook_post.loc[i,'timestamp']
        n=n+1
        
facebook_post2.head()

             Timestamp Date Time      Type
0           1589655251  NaN  NaN  Creation
1           1589655238  NaN  NaN  Creation
2  2020-05-09 14:22:18  NaN  NaN  Creation
3           1589032464  NaN  NaN  Creation
4           1587219860  NaN  NaN  Creation

In [133]:
# Extract Date and Time from Timestamp
# there are 2 types of data in the column 'Timestamp': integer and datetime
for i in range(6):
    if type(facebook_post2.loc[i,'Timestamp']) == int:
        dt_post = datetime.fromtimestamp(facebook_post2.loc[i,'Timestamp'])
        #dt_post = parse(dt_str)
        facebook_post2.loc[i,'Date'] = dt_post.date()
        facebook_post2.loc[i,'Time'] = dt_post.time()
        facebook_post2.loc[i,'Weekday'] = dt_post.weekday()
    else:
        facebook_post2.loc[i,'Date'] = facebook_post2.loc[i,'Timestamp'].date()
        facebook_post2.loc[i,'Time'] = facebook_post2.loc[i,'Timestamp'].time()
        facebook_post2.loc[i,'Weekday'] = facebook_post2.loc[i,'Timestamp'].weekday()

        
facebook_post2.head(10)

             Timestamp        Date      Time      Type  Weekday
0           1589655251  2020-05-16  13:54:11  Creation      5.0
1           1589655238  2020-05-16  13:53:58  Creation      5.0
2  2020-05-09 14:22:18  2020-05-09  14:22:18  Creation      5.0
3           1589032464  2020-05-09  08:54:24  Creation      5.0
4           1587219860  2020-04-18  09:24:20  Creation      5.0
5           1589031247  2020-05-09  08:34:07    Update      5.0

In [136]:
# Drop the unnecessary column "Timestamp"
facebook_post2.drop('Timestamp', axis = 1, inplace=True)
facebook_post2.head()

         Date      Time      Type  Weekday
0  2020-05-16  13:54:11  Creation      5.0
1  2020-05-16  13:53:58  Creation      5.0
2  2020-05-09  14:22:18  Creation      5.0
3  2020-05-09  08:54:24  Creation      5.0
4  2020-04-18  09:24:20  Creation      5.0

Interestly, I create and update all posts on Saturdays.

In [161]:
facebook.head()

,Name,Content,Visit,Source,Date,Time,Weekday
0,Artavia Price,I understand. Thanks anyway July would be the...,False,Facebook,2020-05-12,07:02:42.802000,1.0
1,Ashley Johnson,Yes. Please contact 832-985-4791 Is this stil...,False,Facebook,2020-05-18,09:53:18.357000,0.0
2,Ashley Ann Caldwell,7153935574 is me just in case Sounds good Tom...,True,Facebook,2020-05-10,15:15:27.126000,6.0
3,Ashley Renee,Thank you That's crazy but i get it But if yo...,False,Facebook,2020-05-17,16:47:17.766000,6.0
4,Eden Ciarra,Only a year. Iâm moving from out of state f...,False,Facebook,2020-05-17,10:07:41.969000,6.0

In [166]:
facebook.to_csv('E:\Data_Science_Coursework\Rental Data Analysis\ facebook.csv')
facebook_post2.to_csv('E:\Data_Science_Coursework\Rental Data Analysis\ facebook_post.csv')